{% extends "layout/base" %}

{% block title %}Authentification{% endblock %}

{% block content %}
<section id="authentication" class="bg-light">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Authentification Basic</h2>
                <a href="/authBasic/login" class="btn btn-primary btn-lg active">Login</a>
                <a href="/authBasic/logout" class="btn btn-primary btn-lg active">Logout</a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Authentification Digest</h2>
                <a href="/authDigest/login" class="btn btn-primary btn-lg active">Login</a>
                <a href="/authDigest/logout" class="btn btn-primary btn-lg active">Logout</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}