<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/img/favicon.png">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<title>{{ block title }}</title>
</head>

<body id="#page-top">
	<nav class="navbar navbar-dark bg-dark" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="/">Twict</a>
		</div>
	</nav>

	{% include "layout/notifications" %}

	{{ block content }}

	{% include "layout/debug" %}
</body>

</html>