{% extends "layout/base" %}

{% block title %}Edition d'un utilisateur{% endblock %}

{% block content %}
<section id="authentication" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Edition d'un utilisateur</h2>
				<form method="POST">
					<div class="form-group">
						<label for="user_id">ID</label>
						<input type="text" class="form-control" id="user_id" name="user[id]" readonly="readonly"
							value="{{ $this.user.id }}" />
					</div>
					<div class="form-group">
						<label for="user_firstname">Prénom</label>
						<input type="text" class="form-control" id="user_firstname" name="user[firstname]"
							placeholder="Prénom" value="{{ $this.user.firstname }}" />
					</div>
					<div class="form-group">
						<label for="user_lastname">Nom</label>
						<input type="text" class="form-control" id="user_lastname" name="user[lastname]"
							placeholder="Nom" value="{{ $this.user.lastname }}" />
					</div>
					<div class="form-group">
						<label for="user_mailAddress">Adresse email</label>
						<input type="email" class="form-control" id="user_mailAddress" name="user[mailAddress]"
							placeholder="Adresse email" value="{{ $this.user.mailAddress }}" />
					</div>
					<div class="form-group">
						<label for="user_password">Mot de passe</label>
						<input type="password" class="form-control" id="user_password" name="user[password]"
							placeholder="Mot de passe" value="{{ $this.user.password }}" />
					</div>
					<a href="/user/index" class="btn btn-secondary">Annuler</a>
					<button type="submit" class="btn btn-primary">
						Sauver
					</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}