{% extends "layout/base" %}

{% block title %}Edition d'un utilisateur{% endblock %}

{% block content %}
<section id="authentication" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Supression d'un utilisateur</h2>
				<form method="post">
					<div class="form-group">
						<label for="userId">ID</label>
						<input type="text" class="form-control" id="id" name="user[id]" readonly="readonly"
							value="{{ $this.user.id }}" />
					</div>
					<div class="form-group">
						<label for="firstname">Prénom</label>
						<input type="text" class="form-control" id="firstname" name="user[firstname]"
							readonly="readonly" placeholder="Prénom" value="{{ $this.user.firstname }}" />
					</div>
					<div class="form-group">
						<label for="lastname">Nom</label>
						<input type="text" class="form-control" id="lastname" name="user[lastname]" readonly="readonly"
							placeholder="Nom" value="{{ $this.user.lastname }}" />
					</div>
					<div class="form-group">
						<label for="mailAddress">Adresse email</label>
						<input type="email" class="form-control" id="mailAddress" name="user[mailAddress]"
							readonly="readonly" placeholder="Adresse email" value="{{ $this.user.mailAddress }}" />
					</div>
					<a href="/user/index" class="btn btn-secondary">Annuler</a>
					<button type="submit" class="btn btn-danger">Supprimer</button>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}